body {
  font-family: Nunito, sans-serif;
  color: #1c1c1c;
  background-image: url(C:\Users\marlo\Documents\estudos\html-css\Sitetechniquetostudy\tulip-6994245.jpg);
  background-color: blueviolet
  
}

h1,h2,h3 {
  font-family: Asap, sans-serif;
  color: #d3c500;
}

nav {
  display: flex
  
}

nav > a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 32px;
  font-family: Yellowtail, serif;
}

nav ul{
  
}